{% extends 'base.html' %}
{% load widget_tweaks %} 
 <style> 
    body { 
        font-family: Arial, sans-serif;
         background-color: #f5f5f5; }
     .card { 
        border: none; 
        border-radius:10px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
         overflow: hidden;
         } 
     .card-header { 
        background-color: #007bff;
         color: #fff; 
         border-radius: 10px 10px 0 0; 
         padding: 1rem; 
        } 
     .card-title { 
        margin-bottom: 0; 
    }
     .form-label {
         font-weight: bold; 
        }
     .form-control {
         border-radius: 5px; border-color: #ccc;
         }
     .btn-success {
         background-color: #007bff; 
         border-color: #007bff; 
        }
     .btn-success:hover {
             background-color: #0069d9; 
             border-color: #0062cc;
        }
 </style>
{% block content %}
<div class="container">
     <div class="row justify-content-center mt-5"> 
        <div class="col-md-6"> 
            <div class="card">
                 <div class="card-header text-center"> 
                    <h5 class="card-title mb-0">Create a company</h5> 
                </div>
                 <div class="card-body">
                     <form method="POST"> {% csrf_token %} 
                        <div class="mb-3"> 
                            <label for="name" class="form-label">Company name</label> {% render_field form.name class="form-control" %} 
                        </div>
                        <div class="mb-3"> <label for="est_date" class="form-label">Established Date</label> {% render_field form.est_date class="form-control" %}
                         </div> 
                        <div class="mb-3"> <label for="city" class="form-label">City</label> {% render_field form.city class="form-control" %}
                         </div>
                        <div class="mb-3"> <label for="state" class="form-label">State</label> {% render_field form.state class="form-control" %} 
                        </div> 
                        <button type="submit" class="btn btn-success btn-block">Create</button> 
                    </form> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
{% endblock content %}