{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<!-- Hero Section -->
<section class="bg-light py-5">
  <div class="container">
    <h1 class="display-5 fw-bold">{{ job.title }}</h1>
    <p class="fs-4">
      {{ job.province }} | {{ job.job_type }} | USD{{ job.salary|intcomma }}
    </p>
    {% if has_applied == False %}
    <a href="{% url 'apply-to-job' job.pk %}" class="btn btn-primary btn-lg">Apply now!</a>
    {% else %}
    <p class="text-danger">You have already applied for this job</p>
    {% endif %}
  </div>
</section>

<!-- Job Details -->
<div class="container my-5">
  <div class="row">
    <div class="col-lg-8">
      <section class="mb-5">
        <h5>Job Requirements</h5>
        <p>{{ job.requirements|linebreaks }}</p>
      </section>
      
      <section class="mb-5">
        <h5>Ideal Candidate</h5>
        <p>{{ job.ideal_candidate|linebreaks }}</p>
      </section>
      
      <section class="mb-5">
        <h5>Other Details</h5>
        <p>{{ job.description|linebreaks }}</p>
      </section>
    </div>
    
    <div class="col-lg-4">
      <!-- About the Company -->
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">About {{ job.company.name }}</h5>
          <p class="card-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, suscipit provident ipsa minus ea eum tempore iusto odit quaerat facilis qui, dolorum dolores! Repellendus ullam itaque nulla vitae repudiandae eligendi.
          </p>
        </div>
      </div>
      
      <!-- Related Jobs -->
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Related Jobs</h5>
          <p class="card-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, suscipit provident ipsa minus ea eum tempore iusto odit quaerat facilis qui, dolorum dolores! Repellendus ullam itaque nulla vitae repudiandae eligendi.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}