{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}

    <section>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Welcome to SkillSync Services.</h1>
                {% if request.user.is_applicant %}
                    <p class="col-md-8 fs-4">Applicant Dashboard</p>
                    {% if not request.user.has_resume %}
                        <div class="alert alert-danger" role="alert">
                            <b>You are seeing this because you have not created any resume. Create one from <a href="{% url 'update-resume' %}">here</a></b>
                        </div>
                    {% else %}
                        <p class="col-md-8 fs-4">First Name: <b>{{ request.user.resume.first_name }} {{ request.user.resume.surname }}</b></p>
                        <p class="col-md-8 fs-4">Location: <b>{{ request.user.resume.location }}</b></p>
                        <p class="col-md-8 fs-4">Title: <b>{{ request.user.resume.job_title }}</b></p>
                        {% if request.user.resume.upload_resume %}
                            <p class="col-md-8 fs-4">Resume: <a href="{{ request.user.resume.upload_resume.url }}">Download Resume</a></p>
                        {% else %}
                            <p class="col-md-8 fs-4">Resume: <b>No resume file uploaded.</b></p>
                        {% endif %}
                        <p class="col-md-8 fs-4">Number of Competitions: <b>{{ request.user.applicantprofile.competitions.count }}</b></p>
                        <p class="col-md-8 fs-4">Submissions Made: <b>{{ request.user.applicantprofile.submissions.count }}</b></p>
                        <p class="col-md-8 fs-4">Number of Jobs Applied: <b>{{ jobs|length }}</b></p>
                    {% endif %}
                {% elif request.user.is_recruiter %}
                    <p class="col-md-8 fs-4">Recruiter Dashboard</p>
                    {% if not request.user.has_company %}
                        <div class="alert alert-danger" role="alert">
                            <b>You are seeing this because you have not created any company. Create one from <a href="{% url 'update-company' %}">here</a></b>
                        </div>
                    {% endif %}
                {% endif %}
                <button class="btn btn-primary btn-lg" type="button">Example button</button>
            </div>
        </div>
    </section>
{% endblock content %}